<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EFUtilities" version="1.0.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Funcular.ExtensionMethods" version="1.0.0" targetFramework="net45" />
  <package id="Funcular.IdGenerators" version="2.5" targetFramework="net45" />
  <package id="IQToolkit" version="1.0.0.0" targetFramework="net45" />
</packages>